/*--------------------------------------------General*/
*{
margin: 0;
padding: 0;

}
body{
	background-color: #b0c9d8;
	margin-right: auto;
	margin-left: auto;
	
}



/* -----------------------------------------------------------------------Style Head*/
	.header{
		display: block;
		width: 100%;
		height: 5em;
		position: fixed;
		background-color: #115A83;
		top: 0;
		overflow: hidden;
		position: sticky;
		overflow: hidden;
	
	}


	.ident{
		display: block;
		position: absolute;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center right;
		right: 10px;
	}

	.ident a {

		color: white;
		padding: 10px;

	}


	.logo img{
		text-align: center;
		padding: 0.5em;
		display: inline;
		border-radius: 100px;
		height: 4em;
		width: 4em;
		left: 10px;
		position: absolute;

	}

	.ident2{
		display: inline;
		position: absolute;
		height: 2em;
		width:18em;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center right;
		right: 10px;

	}
	
	#icone_header{

		display: inline-block;
		right: 10px;
		position: absolute;
		top:5%;
	}
	#icone_header2{
	
		display: inline-block;
		right: 90px;
		position: absolute;
		top:5%;
	}
/* -----------------------------------------------------------------------Style Foot*/
.footer{
		background-color: #115A83;
		position: sticky;
		border: 1px solid #115A83;
		padding-top:1em;
		width: 100%;
		bottom:0;
		height:4em;
		display:block;
		z-index:1;
}
.footer1{
		background-color: #115A83;
		position: fixed;
		border: 1px solid #115A83;
		padding-top:1em;
		width: 100%;
		bottom:0;
		height:4em;
		display:block;
		z-index:1;
}
.footer ul{
		text-align: center;
        padding-top:0;
		list-style-type:none;
}

.footer ul a {
	 padding-top:0;
		text-decoration: none;
		color: white;


}
.footer1 ul{
		text-align: center;
        padding-top:0;
		list-style-type:none;
}

.footer1 ul a {
	 padding-top:0;
		text-decoration: none;
		color: white;


}



/* -----------------------------------------------------------------------Style Menu*/


.menu_bouton{



	border: solid .125em transparent;
	padding: 0;
	width: 8.5em; height:2em ;
	border-radius: 1em;
	color: #fff;
    font: Condensed;
    font-family: Arial;
    font-size: 20px;
	filter: contrast(.65);
    border-radius: 0.5em;
    box-shadow: inset 0 1px 1px #9c9c9c;
    background-color: #115A83
	}

.position_menu {

	position:sticky;
	left:350px;
	bottom:140px;
    display:block;
    z-index:1;
	text-align:center; 
	margin-top:50px;
	padding-bottom: 150px;

	}

.liens_formulaire {

		text-decoration: none;
		color: #fff;

	}
/*  -----------------------------------------------------------------------Style formulaire d'incription*/

.formulaire{

    display: block;
    margin-right:auto;
    margin-left:auto;
    background-color:#9c9c9c;
}

/*  -----------------------------------------------------------------------Style Classement*/

.tableau{
	margin: 20px;
	border-radius: 10%;
}

.classement{
	border-collapse: collapse;
	border-spacing:2em;
	width : 100%;
	margin-left : auto;
	margin-right :auto;
	padding: 5em;
	


}

.classement th, td {
	padding-top : 2em;
	text-align: center;
	border:none;
	


}
.classement tr{
	border-radius: 5%;
	padding-top : 2em;
	background-color: #9ca6b5;
	border: 2px solid #115A83;
	border-radius: 2%;
	padding-top: 2%;
}
.classement a{
	text-decoration: none;
	color: white;


	}*

.classement .nom{
	text-align:center;
	width: 30%;
	color: #115A83;
	font:bold;
	font-size:large
}
.classement .info{
	text-align: right;
	width: 50%;


}

.classement .note{
	text-align: center;
	width: 15%;

}
#entete{
	background-color:#115A83
}

		
.bouton	{
	
	border: solid .125em transparent;
	padding: 0;
	width: 2em; height:1em ;
	border-radius: 1em;
	color: #fff;
    font: Condensed;
    font-family: Arial;
    font-size: px;
	filter: contrast(.65);
    border-radius: 0.5em;
    box-shadow: inset 0 1px 1px #9c9c9c;
    background-color: #115A83
	
}






/*------------------------------------------------------------------Page Comparaison*/
 #graphique_comparaison{
	border:1px solid red;
	width:400px;
	position:relative;
	border:1px solid #e5ddd5;
	padding:5px;
    background-color: #115A83;

}

#criteres{
	position:relative;
	left:100px;
	width:300px;
	margin-top:1px;

}
#criteres_name{
	position:absolute;
	left:-100px;
	width:100px;
	border:1px solid #cccccc;
	border-left:none;
	border-right:none;
	font-weight:bold;
}


#note{
	position:relative;
	left:0px;
	top:0px;
	color:#fff;
	text-align:center;
	font-size:0.9em;
	
	
}

/*------------------------------------------------------------------formulmaire _selection*/

.table_formulaire{

    display: table;
	border-radius: 10px;
    width: 40%;
    height: 50%;
    margin:50px auto;
	box-shadow: 20px;
    margin-top: 12%;
    padding: 15px;
    border: 1rem solid;
    border-color:#115A83;
    background-color: #9c9c9c ;
	text-align:center;
	text-shadow: 5px;
	
}
th{

    align-self: center;
    padding: 0;
    border: 20px  ;
    border-style:solid ;
    margin:auto;
    border-color:#115A83;
    border-width: 2px
 }

 .bouton_submit{

     position:relative;
     margin-left: auto;
     margin-right: auto;
     border: solid .125em transparent;
     padding: 0;
     width: 6.375em; height: 1.5em ;
     border-radius: 1em;
     color: #fff;
     font: Condensed;
     font-family: Arial;
     font-size: 20px;
     filter: contrast(.65);
     border-radius: 0.5em;
     box-shadow: inset 0 1px 1px #9c9c9c;
     background-color: #115A83;
	 cursor:pointer;
 }
	
.bouton_avis{
			position:absolute;
			display:contents;
			margin-left: 50;
			margin-right: auto;
			border: solid .125em transparent;
			padding: 0;
			width: 6.375em; height: 1.5em ;
			border-radius: 1em;
			color: white;
			font: Condensed;
			font-family: Arial;
			font-size: 17px;
			border-radius: 0.5em;
			box-shadow: inset 0 1px 1px #9c9c9c;
			background-color: #115A83
			
			
		}
		.bouton_donnerAvis{
			position:relative;
			margin-left: 100px;
			margin-top:100px;
			border: solid .125em transparent;
			width: 6.375em; height: 1.5em ;
			border-radius: 65%;
			color: white;
			font: Condensed;
			font-family: Arial;
			font-size: 17px;
			border-radius: 0.5em;
			box-shadow: inset 0 1px 1px #9c9c9c;
			background-color: #115A83;
			
		}
/* -----------------------------------------------------------------------Accueil*/

#search {
	margin-left: 600px;

	padding-top:10px;

 

}
#corps {
	margin:auto;

	padding-top:20px;
}
#slide_images2{
	width: 600px;
	height:400px;
	background-color: #115A83;
	border-radius : 25px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
#slide_images{
	margin-top: 20px;
	border-radius : 25px;
	padding-top :50px;

}
.slider{
  width: 500px;
  height:300px;
  overflow:hidden;
  margin:auto;
 
 

}
.slides {
	width: 8000px;
	animation: glisse 66s ease 2s infinite;
	text-align:center;
	position:center;
		
}
.slide{
	float:left;
	

}


@keyframes glisse {
	from,6%  {margin-left: 0px;}
	6%,12%   {margin-left:-500px;}
	12%,18%   {margin-left:-1000px;}
	18%,24%   {margin-left:-1500px;}
	24%,30%   {margin-left:-2000px;}
	30%,36%  {margin-left:-2500px;}
	36%,42%  {margin-left:-3000px;}
	42%,48% {margin-left:-3500px;}
	48%,54%  {margin-left:-4000px;}
	54%,60% {margin-left:-4500px;}
	60%,66% {margin-left:-5000px;}
	66%,72% {margin-left:-5500px;}
	72%,78% {margin-left:-6000px;}
	78%,84% {margin-left:-6500px;}
	84%,90% {margin-left:-7000px;}
	90%,to {margin-left:-7500px;}



}
#pied{
	border: 1px solid black;
	margin: auto;
	height: 100px;
	}

#exemple1 {

 height:50px;
 margin-top:3%;
 margin-left: 20%;
 margin-right: 20%;
 border: 1px solid black;
 background-color:#115A83;
 border-radius: 0.8em;

}
#exemple2 {

 height:50px;
 margin-top:1%;
 margin-left: 20%;
 margin-right: 20%;
 border: 1px solid black;
 background-color:#115A83;
 border-radius: 0.8em;

}
#exemple3 {

 height:50px;
 margin-top:1%;
 margin-left: 20%;
 margin-right: 20%;
 border: 1px solid black;
 background-color:#115A83;
 border-radius: 0.8em;

}

#menu_pied{

	 padding-top: 0%;
	 margin-bottom: 25px;
}
.comparateur{
	 display:inline-block;
	 width:50%;
	 
	
}
.table{
	
	border-style:none;
	
}
.p_acceuil{
	text-align:center;
	color:white;
	padding:10px;
	font-size:20px;
  }

/* Etoiles   */
.tde{
			height:20px;
			width:20px;
			cursor:pointer;
			}
#glob {
	display: flex;
	border-radius: 5px;

}

#note{
			display:inline;
			position:relative;
			width:30px;
			border:0;
			background-color:#115A83;
			color:white;
			font-size:20px;
			border-radius: 10px;
}

		
/*----------------------------------------------------------------------Style fiche ville*/
.table_fiche{
	margin-top:0px;
	text-align:center;
	border-style:none;
	background-color: #3f7594;
	
}
#graph{
	display:block;
	margin:auto;
	position:relative;
	float:right;
	
}
#ville1{
	width:680px;
	height:250px;
	border-radius:60px;
	margin-top:20px;
	border:10px solid white;
	
}
.compa1{
	display:table;
	margin:auto;
	top:20%;
	bottom:20%;
	position:center;
	border-style:none;
}
	
/*page comparateur */	
.table_compa{
	margin-top:0px;
	border-width:0;
	border-style:none;
}
#ville{

	display:inline-flexbox;
	border:5px solid white;
	width:80%;
	height:250px;
	border-radius:15px;
	margin-top:20px;
	box-shadow: #0d4464;
	

}
#ville2{
	height:200px;
	width:200px;
	border-radius:65px;
	margin-top:20px;
	background-color: #fff;
	
}
.compa{
	display:inline;
}
/*titres tables*/
.titres{
	text-align:center;
	font-size:22px;
	font-style:bold;
}
		
/* Etoiles   */
.tde{
            height:20px;
            width:20px;
            cursor:pointer;
            }
#glob {display: flex;}

#note{
            display:inline-block;
            position:relative;
            width:30px;
            border:0;
            background-color:#115A83;
            color:white;
            font-size:20px;
            border-radius: 10px;
}


/* page fiche ville */
.table_fiche{
    margin-top:0px;
    text-align:center;
    border-style:none;
}
#graph{
    display:block;
    margin:auto;
    position:relative;
    float:right;
}
#ville1{
    width:680px;
    height:250px;
    border-radius:60px;
    margin-top:20px;
}
.compa1{
    display:table;
    margin:auto;
    top:20%;
    bottom:20%;
    position:center;
    border-style:none;
}

/*page comparateur */
.table_compa{
    margin-top:0px;
    border-width:0;
    border-style:none;
}
#ville{
    height:150px;
    width:150px;
    border-radius:60px;
    margin-top:20px;
}
.compa{
    display:inline;
}
/titres tables*/
.titres{
    text-align:center;
    font-size:22px;
    font-style:bold;
}	
.profil{
	width:150px;
	height:130px;
	border-radius:50%;
}	
#fiche_logo{
	position:static;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5em;
	border-radius: 50%;
}
.icone{
	border-radius:50%;
	box-shadow: #3f7594;
	box-shadow: 50px;
	
}

#lire_avis_logo{
	float:right;

}
.menu_bouton2{
	text-decoration: none;
	border: solid .125em transparent;
	padding: 0;
	width: 8.5em; height:2em ;
	border-radius: 1em;
	color: #fff;
    font: Condensed;
    font-family: Arial;
    font-size: 20px;
	filter: contrast(.65);
    border-radius: 0.5em;
    box-shadow: inset 0 1px 1px #9c9c9c;
    background-color: #115A83;
	margin-right: auto;
	margin-left: auto;
	}
	.logo_inscrire{
		display:inline;
	}
	.div_icone{
		display:inline-block;
		margin-left:auto;
		margin-right:auto;
	}
	#profil_criteres{
		display:table-cell;
		margin-left:auto;
		margin-right:auto;
		padding-top:20px;
		text-align:center;
	}
	#profil_criteres2{
			display: block;
			margin-left:auto;
			margin-right:auto;
			padding-top:20px;
			text-align:center;	
			float:bottom;
			border-radius: 15px;

	}
	#menu_prof{
		padding-bottom:200px;
	}
	#erreur{
		color: red;
	}
	
/*Survole icones*/	
